In [3]:
import sqlite3

In [8]:
PATH_TO_DB_SHARED="instance/shared/schedule_management.db"

In [9]:
conn = sqlite3.connect(PATH_TO_DB_SHARED)

# CREATE TABLE

In [38]:
sql ="""
CREATE TABLE
teachers
(
    organization INTEGER,
    department INTEGER,
    id INTEGER,
    name TEXT,
    email TEXT,
    home TEXT,
    role TEXT,
    password TEXT
)
"""

In [39]:
cursor = conn.cursor()
cursor.execute(sql)

In [37]:
cursor.execute("DROP TABLE teachers")

# ADD

In [40]:
insert_sql="""
INSERT INTO
teachers
(
    organization,
    department,
    id,
    name,
    email,
    home,
    role,
    password
)
VALUES
(
    1,
    1,
    2000,
    '講師1',
    'aaa@gmail.com',
    '123-4567',
    '講師',
    'pass123'
)
"""

In [41]:
cursor.execute(insert_sql)
conn.commit()